
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
/backend/authentication/__pycache__
/backend/authentication/migrations/__pycache__
/backend/backend/__pycache__
/backend/food_estimation/__pycache__
/backend/food_estimation/migrations/__pycache__
/backend/food_nutrition/__pycache__
/backend/food_nutrition/migrations/__pycache__
/web_01/node_modules
/web_01/node_modules/


model_v1_inceptionV3.h5
v1_inceptionV3/variables/variables.data-00000-of-00001

